/* img{
  border: 1px solid #ddd;
  padding: 5px;
  height: 150px;
  width: 150px;
}
.card {
  background-color: #f8f9fa; 
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  width: 170px;
  text-align: center;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}
.card-name {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
} */

ul {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

li {
  scroll-snap-align: center;
  flex: 0 0 auto;
}
